# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
*.launch

# VS Code
.vscode/

# Node
node_modules/

# Database files
*.db
*.sql
/database/
db/

# Sensitive files
application.properties
*.env

# System files
.DS_Store
Thumbs.db
